<div class="container border-3 btn-outline-info bg-light p-0 rounded-3">
  <app-header></app-header>

  <form #form="ngForm" class="pb-3">
    <div class="row p-0 m-0">
      <div class="col-md-8 py-2">
        <i class="far fa-calendar-alt position-absolute fa-2x ms-2 mt-2 text-black-50" onclick="document.getElementById('date').focus()"></i>
        <select 
          #date 
          id="date" 
          class="w-100 py-3 ps-5 bg-light border-1 border-opacity-50 border-secondary rounded position-relative"
          (change)="dateChange(date.value)"
          [value]="model.date">
          <option *ngFor="let date of dates" [value]="date">{{date}}</option>
        </select>
      </div>
      <div class="col-md-4 py-2">
        <i class="far fa-clock position-absolute fa-2x ms-2 mt-2 text-black-50" onclick="document.getElementById('clock').focus()"></i>
        <select 
        id="clock" 
        class="w-100 py-3 ps-5 bg-light border-1 border-opacity-50 border-secondary rounded position-relative"
        [value]="times[0]">
          <option *ngFor="let time of times" [value]="time">{{time}}</option>
        </select>
      </div>
    </div>

    <div class="row p-0 m-0">
      <div class="col-md-8 py-2 d-flex">
        <div
          class="btn-group btn-group-toggle w-100 border-secondary border-dark"
          data-toggle="buttons"
          #btns
        >
          <label
            class="btn btn-outline-secondary active py-3 w-100 border-0"
            style="transition: 1s;"
            #n_smk
            (click)="changeUI(btns, n_smk)"
            ><i class="fas fa-smoking-ban fa-2x"></i></label
          >
          <label
            class="btn btn-outline-secondary py-3 border-0 w-100"
            style="transition: 1s;"
            #smk
            (click)="changeUI(btns, smk)"
            ><i class="fas fa-smoking fa-2x"></i></label
          >
        </div>
      </div>
      <div class="col-md-4 py-2">
        <i
          class="fas fa-user-friends position-absolute fa-2x ms-2 mt-2 text-black-50"
          onclick="document.getElementById('people').focus()"
        ></i>
        <select
          #people
          id="people"
          class="w-100 py-3 ps-5 bg-light border-1 border-opacity-50 border-secondary rounded position-relative"
          (change)="peopleCountChange(people.value)">
          <option value="2" selected>2 People</option>
          <option value="3">3 People</option>
          <option value="4">4 People</option>
        </select>
      </div>
    </div>

    <hr class="mb-2" />

    <div class="w-100 mt-3 px-5">
      <i class="fas fa-user text-black-50 ms-2 mt-3 fa-2x position-absolute"></i>
      <input
        name="name"
        type="text"
        placeholder="Your name"
        required
        class="w-100 py-3 fs-4 ps-5 border-1 border-dark border-opacity-25 rounded-3 position-relative"
        [(ngModel)]="model.name"
      />
    </div>

    <div class="w-100 mt-3 px-5">
      <i class="fas fa-paper-plane text-black-50 ms-2 mt-3 fa-2x position-absolute"></i>
      <input
        name="mail"
        type="email"
        placeholder="Email address"
        required
        class="w-100 py-3 fs-4 ps-5 border-1 border-dark border-opacity-25 rounded-3 position-relative"
        [(ngModel)]="model.mail"
      />
    </div>

    <div class="w-100 mt-3 px-5">
      <i class="fas fa-phone text-black-50 ms-2 mt-3 fa-2x position-absolute"></i>
      <input
        name="phone"
        type="text"
        placeholder="Phone number"
        required
        class="w-100 py-3 fs-4 ps-5 border-1 border-dark border-opacity-25 rounded-3 position-relative"
        [(ngModel)]="model.phone"
      />
    </div>

    <div class="w-100 mt-3 px-5">
      <i class="fas fa-comment-alt text-black-50 ms-2 mt-3 fa-2x position-absolute"></i>
      <input
        name="note"
        type="text"
        placeholder="Note - not required"
        maxlength="26"
        required
        class="w-100 py-3 fs-4 ps-5 border-1 border-dark border-opacity-25 rounded-3 position-relative"
        [(ngModel)]="model.note"
      />
    </div>

    <button
      type="submit"
      class="btn btn-success rounded-3 py-3 d-block mx-auto mt-3 fs-4 w-75"
      [disabled]="form.invalid"
      (click)="reservOrder()"
    >
      Reserve a table
    </button>
  </form>

</div>

<div class="conatiner-fluid">
  <table class="table table-dark table-striped w-100 mt-5 mb-0">
    <thead>
      <tr class="w-100">
        <td class="text-center" style="width: 4rem;">#</td>
        <td class="text-start" style="width: 8rem;">Name</td>
        <td class="text-start" style="width: 8rem;">Email</td>
        <td class="text-start" style="width: 8rem;">Phone</td>
        <td class="text-start" style="width: 8rem;">Note</td>
        <td class="text-start" style="width: 8rem;">People</td>
        <td class="text-start" style="width: 8rem;">Smoking</td>
        <td class="text-start" style="width: 8rem;">Time</td>
        <td class="text-start" style="width: 8rem;">Date</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserv of reservs">
        <td class="text-center">{{reserv.id}}</td>
        <td class="text-start">{{reserv.name}}</td>
        <td class="text-start">{{reserv.mail}}</td>
        <td class="text-start">{{reserv.phone}}</td>
        <td class="text-start">{{reserv.note}}</td>
        <td class="text-start">{{reserv.people}}</td>
        <td class="text-start" *ngIf="reserv.smoking">Yes</td>
        <td class="text-start" *ngIf="!reserv.smoking">No</td>
        <td class="text-start">{{reserv.time}}</td>
        <td class="text-start">{{reserv.date}}</td>
      </tr>
    </tbody>
  </table>
</div>